<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <p th:text="${'Dear ' + name}"></p>
	<p>Welcome to Subhag Family.We feel privileged and responsible to help yet 
	another couple achieve parenthood.</p>       
    <p>Please click on the following link to activate your subhag account,  <p th:text="${verificationlink}"></p>  Thanks for registering with <b>Subhag</b></p>
    
    <p><b style="color:green;">Infertility is only a hurdle, not a roadblock. Let's overcome it together.</b></p>
	
	<p><b>Best Wishes and Prayers,</b></p>
	<p><b>Subhag Team</b></p>
	<p th:text="${signature}"></p>
	     
    <img alt="http://subhag.in" src="https://i.ibb.co/1J0wQqR/subhag-logo.png"
					 width="90" height="90" />    

</table>

</body>
</html>