<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

	<p>Dear Admin/Manager,</p>
	<p>We have received yet another token of responsibility -:</p>
	
	<b><p th:text="${bookingID}"></p></b>
	
	<p><b style="color:green;">"YOU" help deliver Little Angels - Operate Responsibly. Act Fast. </b></p>
	
	<p><b style="color:green;">Infertility is only a hurdle, not a roadblock. Let's overcome it together.</b></p>
	<p><b>Let's make it happen.</b></p>
	<p><b>Subhag Team</b></p>
	<p th:text="${signature}"></p>
	     
    <img alt="http://subhag.in" src="https://i.ibb.co/1J0wQqR/subhag-logo.png"
					 width="90" height="90" />

</body>
</html>